html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-image: url(imagem.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    text-align: center;
    color: #000;
}
h3{
    color: #000;
}
img{
    display: block;
    margin: 20px auto;
}
a{ 
    text-align: center;
    display: block;
    margin: 20px auto;
}
*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(255,255,255);
}
.glass-container{
    height: 520px;
    width: 350px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    border-top: 1px solid rgba(255,255,255,0.4);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: poppins,sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 185%;

}